[Desktop Entry]
Name=CryptoCoin Indicator
GenericName=CryptoCoin Indicator
Comment=CryptoCoin Price Indicator
Encoding=UTF-8
Version=1.0


Name[en_US]=CryptoCoinIndicator
